@charset "UTF-8";
.container-fluid {
	padding: 15px 20px;
}

.btn-primary {
	margin: 5px;
	width: 150px;
}

.btn-outline-primary {
	margin: 5px;
	width: 150px;
}

.btn-danger {
	margin: 5px;
	width: 150px;
}

/*.container-fluid {*/
/*	margin-left: 9px;*/
/*}*/

.form-group {
    padding: 5px;
}

.table {
	text-align: center;
}

th {
	text-align: center;
}