@charset "UTF-8";
.container-fluid {
    padding: 15px 20px;
}

.btn-primary {
    margin: 10px;
    /*width: 150px;*/
}

.btn-outline-primary {
    width: 250px;
}

.btn-outline-danger {
    margin: 5px;
    /*width: 150px;*/
}

.btn-danger {
    margin: 5px;
    /*width: 100px;*/
}

.btn-success {
    margin: 5px;
    /*width: 100px;*/
}

.btn-warning {
    margin: 5px;
    /*width: 100px;*/
}

.btn-dark {
    margin: 5px;
    /*width: 100px;*/
}

.btn-info {
    margin: 5px;
    /*width: 100px;*/
}

/*.form-group {*/
/*    padding: 5px 10px;*/
/*}*/

.table {
    text-align: center;
}

th {
    text-align: center;
}